body {
  background: #f5e7ea;
  margin: 0;
  font-family: "Amatic SC", cursive;
}

input:focus {
  background-color: red;
}

.header {
  display: flex;
  color: whitesmoke;
  align-items: center;
  justify-content: center;
  background: #a54157;
}

.title {
  font-size: 3em;
  text-align: center;
  letter-spacing: 1.3px;
}

.row {
  font-family: sans-serif;
  display: flex;
  font-size: 1.2em;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  letter-spacing: 1.3px;
}

.row label {
  background: #a54157;
  width: 100%;
  color: #f5e7ea;
  text-align: center;
  font-size: 1em;
  padding: 0.5em;
}

.row input {
  width: 100%;
  padding: 0.5em;
  text-align: center;
  font-family: "Acme", sans-serif;
  letter-spacing: 1.3px;
  font-size: 1em;
  border: none;
  opacity: 0.8;
}

.btn {
  border: none;
  font-family: "Acme", sans-serif;
  margin: 0.5em auto;
  padding: 0.5em 1em;
  display: block;
  width: 95%;
  font-size: 1.2em;
  letter-spacing: 1.5px;
  border-radius: 5px;
  color: white;
  background: #a54157;
}

.display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.meme {
  position: relative;
  max-width: 300px;
  width: 100%;
  margin: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.meme:hover {
  cursor: pointer;
  opacity: 0.5;
}

.btn:hover,
.btn:active,
.btn:focus {
  opacity: 0.7;
  cursor: pointer;
}

.delete {
  font-size: 5em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  position: absolute;
  opacity: 0;
  width: 100%;
  padding: 0.75em 0;
  text-align: center;
  color: white;
}

.delete:hover {
  opacity: 1;
}

.top,
.bottom {
  position: absolute;
  letter-spacing: 1px;
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;

  .img {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
  }

  .top {
    top: 0;
  }

  .bottom {
    bottom: 0;
  }

  .header {
    height: 150px;
  }

  .title {
    font-size: 3.5em;
  }

  .subtitle {
    font-size: 2.2em;
  }
}
.row {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.row label {
  width: 100%;
  max-width: 30%;
  margin: 0.1em 2em;
}
